{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<div class="container my-3">
  <!-- this is for displaying the upcoming event date with prizes -->
  <h1 style="justify-content: center;">Upcoming Prizes</h1>
  <table class="table table-bordered table-striped table-sm my-3">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Prize</th>
      </tr>
    </thead>
    <tbody>
      {% for dateandprize in dateandprizes %}
      <tr>
        <td>{{dateandprize["Date"]}}</td>
        <td>{{dateandprize["Prize"]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="alert alert-danger" role="alert" style="text-align: center;">
    <h4>Lottery Will be Opened at 20:00:00 </h4>
  </div>
  <div class="alert alert-primary" role="alert" style="text-align: center;">
    <h3>Time</h3>
    <h3><span id="span"></span></h3>
    
    <script>
      // This is for displaying live clock on our website
      var span = document.getElementById('span');

      function time() {
        var d = new Date();
        var s = d.getSeconds();
        var m = d.getMinutes();
        var h = d.getHours();

        //At exactly 8PM(20:00:00), This if loop will trigger the /open-lottery api and results will be added to the database
        if(h == 20 && m == 0 && s==0){
          var request = new XMLHttpRequest()
          request.open('GET', '/open-lucky-draw', true)    
          request.send()
          console.log(request.responseText)
          alert("It's Time for lottery Opening")
        }
        span.textContent = 
          ("0" + h).substr(-2) + ":" + ("0" + m).substr(-2) + ":" + ("0" + s).substr(-2);
      }
      setInterval(time,1000);
    </script>  
  </div>
</div>
{% endblock body %}